.feedback-container{
	width: 860px;
    margin-bottom: 60px;
    margin-left: 120px;
}

.panel-height{
	height: 360px;
	margin-top: 30px;
}

#email, #my-text{
	margin-left: 200px;
	width: 500px;
}

#my-label{
	margin-left: 200px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.email-label{
	 margin-top: 30px;
}

.btn{
	margin-left: 200px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.err-msg{
	font-size: 15px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	color: red;
	margin-left: 80px;
	margin-top: 5px;
}

#feedback_msg{
	font-size: 15px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	color: green;
	margin-left: 140px;
	margin-top: 10px;
}