<div class="feedback-container">
    <div class="panel panel-default panel-height">
    	<form  #myForm="ngForm">
    		<div class="row">
				<div class="col-md-10" *ngIf="showDiv">
					<div class="alert-danger email-err" *ngIf="(emailAdd?.errors?.pattern || emailAdd?.errors?.required) && emailAdd.touched"><li class="err-msg">Email address is required and it should be valid address.</li>
					</div>
			        <div class="alert-danger" [hidden]="fMssg.valid || !fMssg.touched"><li class="err-msg">Feedback Message is required.</li></div>
			    </div>
		    </div>
		    <div class="row">     	
				<div *ngIf="feedbackResponseStatus === 'Success!'" id="feedback_msg" class="col-md-8 alert-success">{{feedbackResponseStatus}} &nbsp;	{{feedbackResponseMsg}}            
	        	</div>
	        </div>	
			<div class="form-group">
	  			<label id="my-label" class="email-label">Your Email Address: </label>
         		<input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="emailAddress"  class="form-control" id="email" name="emailAddress" required #emailAdd="ngModel"> 
			</div>
			<div class="form-group">
	  			<label id="my-label">Feedback: </label>
	  			<textarea [(ngModel)]="feedbackMsg" name="feedbackMsg" #fMssg="ngModel"  required class="form-control" id="my-text"  rows="5"></textarea>
			</div>
			<button (click)="postFeedback()" class="btn btn-default" [disabled]='!myForm.form.valid || emailAddress == null || emailAddress == "" || feedbackMsg == null || feedbackMsg == "" '>Submit</button>
			&nbsp;
	    </form>    
    </div>
</div>    	
