<div class="alert alert-success">
	<strong>Converter & Feedback App</strong> 
	<h5>This is Project - 03 of COMP_2909. The focus of this project is post and get data asynchronously from remote server and routing in Angular.</h5>
	<strong>Development server</strong>
	<h5> Run ng serve for a dev server. Navigate to http://localhost:4200/. The app will automatically reload if anyone change any of the source files.</h5>
	<strong>Build</strong>
	<h5>Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the --prod flag for a production build.</h5>
</div>