
<div class="container">
    <div class="panel panel-default panel-height">
      <div class="panel-heading nav navbar-default">
        <div class="row">
          <div class="col-xs-5">
                        <h4>{{title}} App</h4>
                </div>
                <div class="col-xs-7">
                </div>
            </div>  
            <div class="row">  
              <div class="col-xs-8">
              </div>  
                <div class="col-xs-4">
                        <ul class="nav navbar-nav navbar-right">
                          <li class="nav-title"><a routerLink="/" routerLinkActive="active">Home &nbsp; &nbsp; &nbsp;| </a></li>
                          <li class="nav-title"><a routerLink="/feedback" routerLinkActive="active">Feedback &nbsp; &nbsp; &nbsp;|</a> </li>
                          <li class="nav-title"><a routerLink="/about" routerLinkActive="active">About</a></li>
                        </ul> 
                </div>
            </div>    
        </div>     
    <div class="panel-body body-height">
          <router-outlet></router-outlet>
    </div> 
    <div class="panel-footer text-right">
         <app-footer></app-footer> 
    </div>    
  </div>   
</div>