<div class="home-container">
	<div class="panel panel-default panel-height">
		<form  #myForm="ngForm">
			<div class="row">
				<div class="col-md-6">
					<li class="err-msg" [hidden]="firstNumber.valid || firstNumber.pristine">This control is invalid.</li>
			        <li class="err-msg" *ngIf="firstNumber?.errors?.pattern">Enter numeric value as Celsius.</li>
			    </div>
			    <div class="col-md-6">
			        <li class="err-msg" [hidden]="secondNumber.valid || secondNumber.pristine">
			        This control is invalid.</li>
			        <li class="err-msg" *ngIf="secondNumber?.errors?.pattern">Enter numeric value as Fahrenheit.</li>
			    </div>    
	        </div>
			<div class="row row-one">
				<div class="col-md-1">
				</div>	
				<div class="col-md-4">
					<h5>Convert Celsius to Fahrenheit </h5>
				</div>
				<div class="col-md-4">
					<input type="text" pattern="^[0-9]*$"  [(ngModel)]="Operand1" class="user-input" name="Operand1" #firstNumber="ngModel">
				</div>
				<div class="col-md-3">
					<button (click)="convertToF(Operand1)" id="my-button">Get Fahrenheit</button><br/>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-12"> 
					<span class="my-celsius">{{resultCelsius}}</span>
				</div>	
			</div>
			<br>
			<div class="row row-three">
				<div class="col-md-1">
				</div>	
				<div class="col-md-4">
					<h5>Convert Fahrenheit to Celsius</h5>
				</div>
				<div class="col-md-4">
					<input type="text" pattern="^[0-9]*$"  [(ngModel)]="Operand2" class="user-input" name="Operand2" #secondNumber="ngModel">
				</div>
				<div class="col-md-3">
					 <button (click)="convertToC(Operand2)" id="my-button">Get Celsius</button><br/>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12"> 
					<span class="my-celsius">{{resultFahrenheit}}</span>
				</div>	
			</div>
		</form>
	</div>	
</div>	

